@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic-ext');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 400;
    background: #fff;
}

p {
    text-align: center;
}

img {max-width: 100%}

a {
    color: #ff5644;
    text-decoration: none;
    transition: all 600ms ease;
    cursor: pointer;
}

h1 {
  margin-top: 15px;
  text-align: center;
}

.sort {
  text-align: center;
  margin: 5px 0 15px 0;
}

a:hover {
    color: #8bddff;
    transition: all 600ms ease;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
}

.task {
  padding: 5%;
  border-radius: 5px;
  background-color: #75d57b73;
  min-height: 300px;
  height: auto;
}

.task > h3 {
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
}

.task > p {
  text-align: justify;
  min-height: 150px;
}

.done {
  width: 12px;
  height: 12px;
}

.info {
  text-align: center;
  margin-bottom: 10px;
}

.task > span {
  font-size: 10px;
}

.pages {
  margin-top: 20px;
  text-align: center;
}

.pages > a {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 50%;
  width: 10px;
  cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

@media(max-width: 900px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    .tasks {
        grid-template-columns: 1fr;
    }
}

header > .top-menu {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    text-transform: uppercase;
}

header > .top-menu > .nav a {
    color: #fff;
    margin-right: 10px;
}

header > .top-menu > .nav a:hover {
    color: #757575;
}

header > .top-menu > .nav a:not(:last-of-type)::after {
    content: "|";
    margin-left: 10px;
    color: #fff;
}

.btn {
    width: 150px;
    height: 40px;
    background: #333;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    transition: all 600ms ease;
}

.btn:hover {
    transition: all 600ms ease;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.3);
}

.admin {
    margin-right: 10px;
}

.sort {
    display: flex;
    justify-content: center;
}

.sort > form > label > .btn {
    width: 100px;
    height: 20px;
    margin-right: 15px;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
}
